/* CSS Variables */
:root {
  --clr-primary: hsl(257, 40%, 49%);
  --clr-accent: hsl(300, 69%, 71%);
}

/* Utillity */

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  padding-top: 3.125rem;
}

/* Hero */
main {
  background-image: url('./images/bg-desktop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-primary);
}

h1,p {
  color: #fff;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.1rem;
}

.hero {
  padding-block: 5rem;
  display: flex;
  gap: 2.5rem;
}

.hero-img {
  flex: 1;
}

.hero-text {
  position: relative;
  flex: 1;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.btn-register {
  padding: 12px 50px;
  background-color: #fff;
  color: var(--clr-primary);
  max-width: max-content;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: color .3s;
}

.btn-register:hover {
  background-color: var(--clr-accent);
  color: #fff;
}

.social-list {
  position: absolute;
  bottom: -50px;
  right: 20px;
  display: flex;
  gap: 1.25rem;
}

.social-link {
  display: inline-grid;
  place-items: center;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: border-color .3s;
}

.social-link i{
  font-size: 1.25rem;
  color: #fff;
  transition: color .3s;
}

.social-link:hover {
  border-color: var(--clr-accent);
}

.social-link:hover i{
  color: var(--clr-accent);
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .logo img{
    width: 150px;
  }

  .hero-text {
    padding: initial;
  }

  .btn-register {
    padding: 10px 30px;
    font-size: 0.875rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.875em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 550px;
  }

  .hero {
    flex-direction: column;
  }

  .hero-text {
    align-items: center;
    gap: 2rem;
  }

  .btn-register {
    padding-inline: 100px;
  }

  .social-list {
    position: initial;
  }

  h1, p {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    max-width: 320px;
  }
}